[Unit]
Description=Prometheus exporter for Ceph
Documentation=https://github.com/jcollie/ceph_exporter

[Service]
Type=simple
WorkingDirectory=/opt/ceph_exporter
ExecStart=/opt/ceph_exporter/bin/ceph_exporter
SyslogIdentifier=ceph_exporter

[Install]
WantedBy=multi-user.target
